
<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px"   style="height: 100vh;" fxLayoutAlign="start center">
    <div fxFlex="50" fxFlex.xs="100" fxLayoutAlign="end" fxLayoutAlign.sm="center">
      <!-- Content for the first column -->
      <img class = "overview-img"src="https://previews.123rf.com/images/happyvector071/happyvector0711904/happyvector071190416116/120957921-creative-illustration-of-default-avatar-profile-placeholder-isolated-on-background-art-design-grey.jpg"/>
    </div>
    <div fxFlex="30" fxFlex.xs="100" fxLayoutAlign.sm="center">
      <!-- Content for the second column -->
      <h1><b>HIWOT ALEMAYEHU</b></h1>
      <h4><i>A bit about me</i></h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro enim maiores, fuga voluptatibus ut adipisci assumenda magni ratione nesciunt earum eos veniam, nihil id dolor corporis possimus repellat labore vero?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, provident vel voluptatem praesentium, ducimus ut facere est adipisci pariatur amet laborum corrupti quidem non, aut eaque? Perspiciatis non similique perferendis!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque cupiditate, necessitatibus pariatur maiores nemo inventore nesciunt ex, optio aut ipsum tempore totam, quam esse dicta neque praesentium recusandae atque quibusdam!</p>
    </div>
  </div>