<section id="about" class="overview">
    <div class="overview-main">
      <div class="Skillset-heading"><h4 class="heading">About Me</h4></div>
      <div class="overview-desc" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div fxFlex="30" fxFlex.xs="100" fxLayoutAlign="end" fxLayoutAlign.xs="center">
          <img class = "overview-img"src="/assets/photo.jpg"/>
        </div>
        <div class="self-desc" fxFlex="50" fxFlex.xs="100" fxLayoutAlign.sm="center">
            <!-- Content for the second column -->
            <p>I have more than 4 years experience as full-stack developer. I used React and Angular for frontend development and Spring boot for the backend. 
              Love what I’m doing and passionate about applying and learning microservice architecture and machine learning.
            </p>
        </div>
    </div>
    
  </div>
  <div class ="skillSet-Container" >
        <div >
            <div class="container">
              <div class="skills s_90">90%</div>
            </div>
            <p>Java,Spring Boot</p>
            <div class="container">
              <div class="skills s_80">80%</div>
            </div>
            <p>Node JS, Express</p>
            <div class="container">
              <div class="skills s_65">65%</div>
            </div>
            <p>JavaScript Angular React</p>
        </div>
        <div  >
          <div class="container">
            <div class="skills s_90">90%</div>
          </div>
          <p>Docker, Kubernetes</p>
          <div class="container">
            <div class="skills s_80">80%</div>
          </div>
          <p>AWS - EC2, ECS , Lambda , Gateway</p>
          <div class="container">
            <div class="skills s_65">65%</div>
          </div>
          <p>Python</p>
      </div>
      <div  >
        <div class="container">
          <div class="skills s_90">90%</div>
        </div>
        <p>Docusing integration</p>
        <div class="container">
          <div class="skills s_80">80%</div>
        </div>
        <p>Version control, CICD</p>
        <div class="container">
          <div class="skills s_65">65%</div>
        </div>
        <p>Python</p>
      </div>
  </div>
</section>
