.landing-bg{
 background-image: url(https://tailwindcomponents.com/gradient-generator/assets/header.a6837f08.webp);
 background-size: cover; /* Cover the entire container */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 height: 75vh; /* Set the height to cover the entire viewport */
 margin: 0; /* Remove default margins */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; 
 color: white; 
 display: flex;
}
.landing-main{
    height: 100vh;
}
.landing-text{
    color: white;
    font-size: 50px;
    
}
.landing-iconset{
      position: absolute;
      bottom: 12%; /* Adjust the negative margin to control the amount of overlap */
      /* Additional styling for the Sample div if needed */
      background-color: white;
      padding: 1%;
      height: 100px;
      width: 40%;
      color: black;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}
@media (min-width: 1200px){
    mat-icon{
        transform: scale(3);
    }
}

@media (max-width: 768px) {
    .landing-main {
        min-height: auto; /* or any other value */
    }
}
