<div class="landing-main">
    <div class="landing-bg">
        <div class="landing-text">
            Welcome to Software Engineer Hiwot Alemayehu's Page 
        </div>
        <div class="landing-iconset">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" style="color: rgb(106,6,236);"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" style="color: rgb(106,6,236);"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" style="color: rgb(106,6,236);"></mat-icon>
        </div>
    </div>
</div>
