<div class="landing-main">
    <div class="landing-bg">
        <div class="landing-text">
          <h1>HIWOT ALEMAYEHU</h1>
        </div>
        <div class="landing-iconset">
            <mat-icon class="linkedin-icon"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn Icon" class="linkedin-icon"></mat-icon>
            <mat-icon class="linkedin-icon"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="LinkedIn Icon" class="linkedin-icon"></mat-icon>
            <mat-icon class="linkedin-icon"><img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn Icon" class="linkedin-icon"></mat-icon>
        </div>
    </div>
</div>
