<section id="experience">
<div class="main">
    <h3 class="heading">Expeirence timeline</h3>
    <div class="container">
        <ul>
            <li>
                <h3 class="title">Full Stack Developer</h3>
                <p> Innovative Full Stack Developer, orchestrating seamless integration of frontend and backend technologies to deliver dynamic web solutions. 
                    Proven track record of optimizing user experience and enhancing functionality in diverse projects.</p>
                    <span href="">Lincoln Financial Group Radnor,PA</span>
                    <span class="circle"></span>
                <span class="date">May 2023</span>
            </li>

            <li>
                <h3 class="title">Software Developer</h3>
                <p> Accomplished Software Developer with a focus on the financial sector, adept at designing and implementing solutions to meet industry-specific challenges. 
                    Leveraging expertise to streamline processes, enhance security, and drive efficiency within financial systems.</p>
                    <span>Bank of Abyssinia Addis Ababa,Ethiopia </span>
                    <span class="circle"></span>
                <span class="date">Nov 2021</span>
            </li>

            <li>
                <h3 class="title">Software Developer</h3>
                <p> Experienced Software Developer in the dynamic tech industry, adept at crafting innovative solutions to meet evolving user demands. Skilled in leveraging cutting-edge technologies to drive efficiency, optimize performance, and deliver impactful software products.</p>
                <span>Serapta PLC Addis Ababa,Ethiopia</span>
                <span class="circle"></span>
                <span class="date">Jan 2019</span>
            </li>
            <li>
                <h3 class="title">Junior Developer</h3>
                <p> As a Junior Developer in a tech company, I've honed my skills in coding, troubleshooting, and collaborating on projects. I'm dedicated to learning and contributing to innovative solutions that drive company growth and success.</p>
                <span>Serapta PLC Addis Ababa,Ethiopia</span>
                <span class="circle"></span>
                <span class="date">Jan 2017</span>
            </li>
        </ul>
    </div>
</div>
</section>