<div class="main">
    <h3 class="heading">Expeirence timeline</h3>
    <div class="container">
        <ul>
            <li>
                <h3 class="title">Full Stack Developer</h3>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates nemo sint sit! Suscipit officia error repellat ratione totam quo perferendis dolor, laborum quia odio, numquam accusantium, natus doloremque eius quae.</p>
                <a href="">Read more</a>
                <span class="circle"></span>
                <span class="date">May 2023</span>
            </li>

            <li>
                <h3 class="title">Software Developer</h3>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates nemo sint sit! Suscipit officia error repellat ratione totam quo perferendis dolor, laborum quia odio, numquam accusantium, natus doloremque eius quae.</p>
                <a href="">Read more</a>
                <span class="circle"></span>
                <span class="date">May 2023</span>
            </li>

            <li>
                <h3 class="title">Junior Developer</h3>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates nemo sint sit! Suscipit officia error repellat ratione totam quo perferendis dolor, laborum quia odio, numquam accusantium, natus doloremque eius quae.</p>
                <a href="">Read more</a>
                <span class="circle"></span>
                <span class="date">May 2023</span>
            </li>
            <li>
                <h3 class="title">Junior Developer</h3>
                <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates nemo sint sit! Suscipit officia error repellat ratione totam quo perferendis dolor, laborum quia odio, numquam accusantium, natus doloremque eius quae.</p>
                <a href="">Read more</a>
                <span class="circle"></span>
                <span class="date">May 2023</span>
            </li>
        </ul>
    </div>

</div>
